h1 {
  color:#004000;
  background-color: #888888;
  text-transform: uppercase;
  margin: 20px;
  padding: 40px;
  border-width: 5px;
  border-style: dashed;
  border-color: red;

}
h2 {
  text-decoration:underline;
  color: darkgreen;
}
p {
  text-decoration:underline;
  color: darkgreen;
}

body {font-family: sans-serif;
      font-size:12px;
      text-decoration: line-through;}
#intro {border: 1px;
        border-style: solid;
        border-color: black;
}
.spotlight {background-color: #FEFE22
}
